---
import Layout from "../layouts/Layout.astro";
---

<Layout title="送信完了">
	<main class="flex flex-col w-full bg-white h-screen font-sans">
		<div class="pb-2 px-5">
			<div class="flex flex-col justify-center items-center">
				<h1
					class="text-4xl md:text-6xl font-bold text-center mt-40 mb-10 leading-10 text-[#1C95B7] md:leading-14"
				>
					無料相談・お問い合わせ<br />
					受付フォーム
				</h1>
				<div class="text-2xl">
					WEBサイトからの無料相談もしくはお問い合わせを受付いたしました。<br
					/><br />
				</div>
				<div class="text-2xl">
					2～3営業日以内に担当者より、ご連絡させていただきます。<br />
					万が一、3営業日を過ぎても連絡が無い場合は、不達の可能性がございますので、<br
					/>
					大変お手数ではございますが、下記の電話番号までご連絡をお願いいたします。<br
					/><br />
				</div>
				<div class="text-2xl">電話番号：082-507-3230</div>
			</div>
			<div class="flex justify-center items-center my-10">
				<a
					class="text-3xl rounded-full bg-[#FF8A22] text-white px-6 px-20 md:px-40 py-4 text-center"
					href="../index.html">元のページへ戻る</a
				>
			</div>
			<div class="text-xl font-sans text-center mt-5 mb-8 px-5">
				Copyright © みらいマップ株式会社 <br class="md:hidden" />All
				rights reserved.
			</div>
		</div>
	</main>

	<style></style>
</Layout>
