---

---

<div class="flex flex-col items-center w-full py-10 bg-[#FBDA32] text-left pb-20">
	<div class="md:w-[768px] flex flex-col gap-10 items-center">
		<div class="font-bold text-center text-xl leading-9">
			絶大なご支持をいただいている<br />
			<span class="text-3xl sm:text-4xl">「社保ダイエットプラン」</span>
		</div>
		<div class="px-5 md:px-[100px] font-sans md:text-center text-left text-xl">
			毎年莫大な社会保険料を支払うことは、<br class="md:hidden">まさに経営の圧迫に他なりません。<br class="hidden md:flex"><br class="md:hidden"><br class="md:hidden">
			しかし、「社保ダイエットプラン」を導入すれば、<br class="md:hidden">その状況は劇的に変わります。<br class="hidden md:flex"><br class="md:hidden"><br class="md:hidden">
			会社経営者として、経費を節減し経営資源を最大化させ<br class="hidden md:flex"><br class="md:hidden">会社を発展存続させることは、<br class="md:hidden">社員やその家族を守るため必須項目のはずです。<br class="hidden md:flex"><br class="md:hidden"><br class="md:hidden">
			経営の改善を望む経営者様、<br class="md:hidden">今こそ「社保ダイエットプラン」を導入し、<br class="hidden md:flex"><br class="md:hidden">
			社会保険料の負担を軽減しましょう。<br class="hidden md:flex"><br class="md:hidden">
			多くの経営者様が体験し、<br class="md:hidden">実感した節減効果をあなたの会社にももたらします。
		</div>
		<div class="px-5 md:px-[100px]">
			<div class="text-[#BA2644] font-bold text-2xl mb-1 text-center">多くの事業所が対象です</div>
			<div class="font-bold leading-7 font-sans">
				株式会社や有限会社などの一般法人、医療法人、社団法人、民間団体、組合など、
				健康保険・厚生年金の適用事業所であれば、全て対策が可能です。
				既に社会保険料の節減策を導入している会社でも、さらなる節減効果を目指します。
			</div>
		</div>
		<div class="">
			<div class="text-[#BA2644] font-bold text-center text-2xl mb-3">包括的なサポート体制</div>
			<div class="font-bold px-3 md:px-10 font-sans">
				提携する専門家からのサポートが受けられ、より安心して節減策の導入を進めることができます。
				社会保険労務士事務所、税理士事務所、弁護士事務所、司法書士事務所、
				行政書士事務所、経営コンサルタント事務所　など
			</div>
		</div>
	</div>
</div>
