---
interface Props {
	caseNo: number;
	title1: string;
	title2: string;
	subtitle: string;
	text: string;
}

const { caseNo, title1, title2, subtitle, text } = Astro.props;
---

<div class="flex flex-col gap-2 relative px-2 sm:w-[600px] mx-auto">
	<div class="bg-white rounded-lg pt-4">
		<div class="flex px-2 items-center justify-center pb-3">
			<div class="text-4xl sm:text-5xl">CASE {caseNo}</div>
			<span class="text-lg sm:text-2xl pl-3 pt-1.5">{title1}</span>
		</div>
		<div
			class="underline decoration-[#F5ED00] decoration-4 text-base sm:text-xl mb-5 text-center"
		>
			{subtitle}
		</div>
		<div class="px-5 sm:px-10 pb-5 text-sm sm:text-sm leading-5">
			{text}
		</div>
	</div>
</div>
