---
interface Props {
	caseNo: string;
	title: string;
	subtitle: string;
	text: string;
}

const { caseNo, title, subtitle, text } = Astro.props;
---

<div
	class="bg-white rounded-lg px-5 py-3 flex flex-col items-center w-full md:w-[350px] h-[400px] md:h-[380px]"
>
	<div class="border-b-[4px] border-indigo-500 font-bold text-xl">
		CASE <span class="text-4xl">{caseNo}</span>
	</div>
	<div class="font-bold text-4xl">{title}</div>
	<div class="text-lg bg-yellow-400 font-bold px-3 mt-1">{subtitle}</div>
	<div class="mt-3 comment leading-[56px] text-3xl font-medium">
		{text}
	</div>
</div>
