---
import { Image } from "astro:assets";
import parson01 from "../assets/17459_color.png";
import ContactButton from "../components/ContactButton.astro";
---

<div class="bg-white">
	<div class="flex flex-col py-10 items-center text-center">
		<div class="text-3xl sm:text-4xl font-black text-[#008F8F] py-2 mb-5">
			導入費用について
		</div>
		<div class="text-sm sm:text-xl font-bold mb-5 font-sans">
			「社保ダイエットプラン」ご検討にともなう<br />
			面談、相談、試算、見積は<span class="text-[#E6607B]">完全無料</span
			>で提供しています。
		</div>

		<div class="text-sm sm:text-xl font-bold font-sans">
			「社保ダイエットプラン」の導入費用は、<br />
			<span class="text-[#E6607B]"
				>節減効果が始まって２年を経過する月までの間に<br />
				節減できる社会保険料額の20%（税別）</span
			>です。<br />
			それ以外のご負担はございません。
		</div>
		<div class="flex items-center justify-center my-8 w-full">
			<Image
				src={parson01}
				alt="説明文"
				height={110}
				class="sm:hidden absolute ml-[265px] "
			/>
			<Image
				src={parson01}
				alt="説明文"
				height={170}
				class="hidden sm:flex absolute ml-[300px] md:ml-[460px]"
			/>
			<div class="bg-[#E9F6FD] md:pl-10 pr-24 py-8 w-full">
				<div class="font-bold text-lg sm:text-2xl mb-3 ml-4">
					専門家による無料相談で<br
						class="md:hidden"
					/>安心の経営戦略を
				</div>
				<ContactButton />
			</div>
		</div>
	</div>
</div>

