---
import { Image } from "astro:assets";
import parsons_03 from "../assets/persons_03.png";
import ContactButton from "./ContactButton.astro";
---

<div class="bg-[#EFD4CE] text-xs pt-5 pb-8 px-2 font-bold">
	<div class="flex h-16 justify-center mb-10 text-center text-xl">
		独自の節税対策で、<br /> 経営の効率化と財務の最適化を<br
		/>実現しましょう
	</div>
	<div class="text-center text-base my-5 bg-white rounded-lg py-5 px-3">
		多くの経営者様が実践している節税対策は、<br />
		インターネットや書籍に<br />
		掲載されている一般的な<br />
		情報ばかりで、効果は限定的です。 <br />
		<br />
		しかし、私たちの提案は、<br />
		決算前に役員報酬を<br />
		全額損金処理で増額するという、<br />
		まさに一線を画す戦略です。<br />
		<br />
		この方法を活用することで、<br />
		法人税や社会保険料を賢く節約し、<br />
		個人の財務健全化を促し<br />
		経営に専念することが可能になります。<br />

		<Image
			src={parsons_03}
			alt="parsons_03"
			height={180}
			class="mx-auto my-5"
		/>
	</div>
	<ContactButton />
	<div class="flex">
		<div class="my-5 text-base mx-auto">
			無料相談で<br />
			企業のポテンシャルを発掘しましょう！<br />
			企業の継続的な成長と安定を確保すること。<br />
			私たちはその至上命題を経営者と共有し、<br />
			その達成をお手伝いします。
		</div>
	</div>
</div>
