---
import { Image } from "astro:assets";
import mail from "../assets/mail.png";
import Item from "./CaseItem.astro";
---

<div class="bg-[#C2A99C] text-xs pt-5 pb-8 px-2 font-bold">
	<Image src={mail} alt="heart" class="mx-auto" />
	<div class="text-center text-xl sm:text-3xl my-5">
		ご利用いただいたお客様の声
	</div>
	<div class="text-center text-sm sm:text-lg my-5">
		たくさんの嬉しいお声をいただいています。<br />その一部をご紹介します。
	</div>
	<div class="flex flex-col gap-3">
		<Item
			caseNo={1}
			title1="サービス業"
			title2="をされている経営者様"
			subtitle="役員 1 名、決算月 約 350 万円 一括増額"
			text="当初、本節税策が法に触れるものではないかと疑念を抱いていましたが、当社顧問税理士が立ち会う中で説明を受け、すぐにその合法性に納得しました。この策を実施したことで、計画的に貯蓄を増やし、それを事業資金のみならず、子供の教育費さらには住宅ローンの返済にも活用できるようになったことは、大きなメリットと感じています。知らなかったことが損であったことを痛感しています。"
		/>
		<Item
			caseNo={2}
			title1="卸小売業"
			title2="をされている経営者様"
			subtitle="役員 1 名、決算月 約 250 万円 一括増額"
			text="この度は法人設立後初めて迎える決算での対策でした。法人設立時から役員報酬を低めに設定していたため、提案された増額はまさに願ったり叶ったりでした。メリットとデメリットを丁寧に説明いただき、デメリットは所得税・住民税の増加のみと知り、合法性も確認できたので迷うことなく決断しました。"
		/>
		<Item
			caseNo={3}
			title1="電気工事"
			title2="をされている経営者様"
			subtitle="役員 2 名、決算月合計 約 800 万円 一括増額"
			text="数年前に加入した生命保険の解約金が最高額に達するこの期に、解約を開始する予定でしたが、その結果として今後数年間にわたって増益が見込まれていました。より良い節税策を探していたところ、貴社のウェブサイトを見つけて問い合わせをしました。以前から専任税理士から新たな生命保険への加入を勧められていましたが、それはお断りし、役員報酬の増額を選択し、高い効果に大変満足しています。専門家の助言を得られたことは大変幸運でした。"
		/>
		<Item
			caseNo={4}
			title1="内装工事"
			title2="をされている経営者様"
			subtitle="役員 1 名、決算月 約 170 万円 一括増額"
			text="まさか決算前に報酬を増額できるなんて信じられませんでした。過去の節税は節税額以上に現金が必要で、節税効果は限定的。一方役員報酬増額は法人から個人に資金を移転でき、役員報酬として全額損金処理できるので効果大でした。少々個人の税金は上がりますが法人税は節減でき、社会保険料も増やさない対策も合わせると効果は絶大でした。"
		/>
		<Item
			caseNo={5}
			title1="縫製業"
			title2="をされている経営者様"
			subtitle="役員 夫婦、決算月 合計 約 700 万円 一括増額"
			text="業績好調に伴い、有効な節税対策が求められていました。通常、無策で法人税を支払った後に法人に残る資金を、将来個人が退職金として受け取る際、再度課税される二重課税の問題に疑問と不満を感じていました。この提案により、そのような懸念を払拭できたことは、非常に大きなメリットでした。"
		/>
	</div>
</div>
