---

---

<div class="bg-[#EFD4CE] pt-5 pb-8 px-2 font-black">
	<div class="text-2xl sm:text-4xl text-center mb-6">
		最後に、大切なご決断を
	</div>
	<div class="text-base sm:text-lg text-center">
		貴社の資金、どこに残したいですか？<br />
		法人でしょうか、それとも個人でしょうか？<br />
		賢い経営者は既にこの戦略を採用し、<br />
		そのメリットを享受しています。 <br /><br />
		経営者の多くは、<br class="sm:hidden" />
		役員報酬を個人が受け取った際、<br />
		法人税よりも高い税率が適用されると<br />
		懸念されているかもしれません。<br />
		しかし、それは必ずしも正しくありません。 <br /><br />
		経営にとって必要な資金を、<br />
		計画的に最も有効な場所(個人)に<br class="sm:hidden" />
		保持することが、<br />
		実は最も賢明な経営判断なのです。<br /><br />
		私たちの最終目標は、<br />
		経営における可処分所得の増加と<br />
		財務健全性の向上を通じて、<br />
		貴社の事業の発展と存続を支えることです。 <br /><br />
		私たちは、皆さんの事業にとって<br />
		明るい未来を創造する<br class="sm:hidden" />
		お手伝いをさせていただきます。
	</div>
</div>
