---
import { Image } from "astro:assets";
import person_05 from "../assets/person_05.png";
import ContactButton from "../components/ContactButton.astro";
import MeritItem from "./MeritItem.astro";
---

<div class="bg-[#F3CC91] text-xs pt-5 pb-8 px-2 font-bold">
	<div class="text-center text-xl my-5">
		<span class="text-3xl">「役員報酬の増額」</span>には<br />
		５つのメリットがあります
	</div>
	<div class="flex flex-col gap-2 sm:items-center">
		<MeritItem
			no={1}
			title="全額の損金処理が可能"
			text="増額された役員報酬は定期同額給与として損金算入できます。"
		/>
		<MeritItem
			no={2}
			title="法人税が減少する"
			text="法人税の負担が軽減されます。"
		/>
		<MeritItem
			no={3}
			title="個人の資産が形成できる"
			text="増額した報酬は個人が受け取れ、個人の資産形成に貢献します。"
		/>
		<MeritItem
			no={4}
			title="資金を自由に使用できる"
			text="貯蓄した資金は個人が必要時に自由に使えます。"
		/>
		<MeritItem
			no={5}
			title="社会保険料を削減できる"
			text="個別提案により、社会保険料の削減が見込める場合があります。"
		/>
	</div>
	<div
		class="text-xl sm:text-3xl my-8 flex flex-col justify-center items-center"
	>
		<div>
			<div>考慮すべきデメリットもあります。</div>
			<div class="text-base sm:text-xl">
				役員報酬の増額により、個人の所得税および住民税が増加します。
			</div>
		</div>
	</div>
	<div
		class="bg-white rounded-lg border-2 border-black p-5 mb-8 sm:w-[650px] mx-auto"
	>
		<div class="text-3xl sm:text-4xl">法的根拠は？</div>
		<div class="text-base sm:text-xl mb-4">
			役員報酬を期中に年払増額し、<br
				class="sm:hidden"
			/>その額を損金算入することは、<br />
			国税庁の指針により可能です。<br />
			<br />
			この指針では、<br />
			給与が「定期同額給与」<br
				class="sm:hidden"
			/>「事前確定届出給与」「業績連動給与」の<br />
			いずれかに該当する場合、<br
				class="sm:hidden"
			/>損金に算入できるとされています。<br />
			<br />
			私たちは、これらの基準に基づき、<br />
			貴社に最適な役員報酬の<br
				class="sm:hidden"
			/>増額プランを提案します。
		</div>
		<div class="flex justify-center">
			<Image src={person_05} width={200} alt="kouji" />
		</div>
	</div>
	<ContactButton />
</div>
