---
import { Image } from "astro:assets";
import person_02 from "../assets/3975_color.png";
import persons_01 from "../assets/persons_01.png";
import ContactButton from "../components/ContactButton.astro";
---

<div class="bg-[#EFD4CE] text-xs pt-5 pb-8 px-2">
	<div class="max-w-3xl mx-auto text-xl sm:text-2xl font-bold text-center">
		では、実際に効果の高い<br class="sm:hidden" /><span
			class="text-4xl sm:text-4xl underline decoration-8 decoration-yellow-200 underline-offset-[-4px]"
			>節税対策</span
		>とは何か？
	</div>
	<div class="flex justify-center my-5">
		<Image src={persons_01} width={300} alt="heart" />
	</div>
	<div class="font-bold text-center text-xl sm:text-3xl mb-4 sm:my-8">
		それは、<br class="sm:hidden" /><span class="text-4xl sm:text-5xl"
			>役員報酬の一括支給</span
		><br class="sm:hidden" />です！
	</div>
	<div
		class="flex bg-white rounded-2xl font-bold text-base px-2 flex-col py-4 mb-5 sm:flex-row justify-center items-center sm:max-w-3xl mx-auto"
	>
		<div class="flex flex-col sm:leading-7">
			<div>
				初めまして、<br
					class="sm:hidden"
				/>みらいマップ株式会社の徳永吉一です。<br />
				多くの読者様が半信半疑と思いますが
				<br class="sm:hidden" />「決算前の役員報酬増額」<br />
				という節税対策は確かに存在します。<br />
				もちろん税法上の<br class="sm:hidden" />損金算入規定を遵守しつつ
				<br class="sm:hidden" />適法に実行可能です。<br />
			</div>
			<div class="flex">
				<div>
					この戦略は、<br
						class="sm:hidden"
					/>単なる節税対策ではなく、<br
						class="sm:hidden"
					/>会社の利益をコントロールしつつ、<br
					/>経営者･役員の手元資金を<br
						class="sm:hidden"
					/>最大化するための戦略です。
				</div>
				<div>
					<Image
						src={person_02}
						width={80}
						alt="person_02"
						class="sm:hidden"
					/>
				</div>
			</div>
		</div>

		<div class="flex items-center">
			<Image
				src={person_02}
				width={120}
				alt="person_02"
				class="hidden sm:block"
			/>
		</div>
	</div>
	<ContactButton />
</div>
