---
import { Image } from "astro:assets";
import kokuban from "../assets/9435_color.png";

---

<div class="bg-white h-[450px] md:h-[550px] font-bold flex justify-center">
	<div class="md:w-[768px] flex flex-col items-center">
		<div class="text-[#E6607B] text-2xl py-10 text-center">
			それは<br class="md:hidden"/><span class="text-4xl">「社保ダイエットプラン」</span><br class="md:hidden"/>です。
		</div>
		<div class="w-full flex justify-center">
			<div class="absolute">
				<Image
				src={kokuban}
				alt="説明文"
				height="350"
				/>
			</div>
			<div class="absolute mt-2 md:mt-8 font-bold mr-[110px] md:mr-[175px] md:text-2xl">
				私たちの「社保ダイエットプラン」は、<br>
				その悩みを解決するための<br>
				<span class="text-[#E6607B]">確かな策</span>を提案します。<br><br>	
				そして貴社の財務健全性を強化し、<br>
				長期的な成長戦略に貢献します。
			</div>
		</div>
	</div>
</div>