---
import QuesionItem from "../components/QuesionItem.astro";
---

<div class="bg-[#EFD4CE] pt-5 pb-8 px-2 font-black">
	<!-- <div class="text-2xl sm:text-4xl text-center mb-6">よくあるご質問</div> -->
	<div class="text-base sm:text-lg text-center">
		<div class="md:w-[768px] mx-auto">
			<div
				class="border-[5px] border-[#0588AF] rounded-md py-10 px-2 sm:px-10 mx-1 mb-10 bg-white"
			>
				<div class="font-black text-center text-3xl">
					よくあるご質問
				</div>
				<hr class="h-0.5 my-2 bg-[#0588AF] border-0" />
				<QuesionItem
					question="決算前、役員報酬の全額損金算入による増額は合法ですか？"
					anser="はい、完全に合法です。この節税戦略は税務署も認知しており、法令に基づいた合法的な手法です。税務上の問題はございませんのでご安心ください。"
				/>
				<QuesionItem
					question="企業の信用に悪影響はありませんか？"
					anser="私たちはお客様の情報の安全性を最優先に考え、すべての業務を法律に準拠して実施しています。お客様の情報は厳格に保護され、企業の信用やブランドに損害を与えるようなことはありません。"
				/>
				<QuesionItem
					question="法人の方が個人よりも納税後の資金が多く残ると聞きますが本当ですか？"
					anser="一般的な認識としてはそう思われがちですが、必ずしもそうではありません。個人の所得税率は高いように感じられますが、控除項目が豊富にあるため、実際には給与収入に対する納税後の手取りは法人税を納める法人よりも有利な場合が多いのです。詳しくは試算可能ですのでお問い合わせください。"
				/>
				<QuesionItem
					question="役員報酬の増額に際して文書化は必要ですか？"
					anser="はい、役員報酬の増額には適切な文書化が必要です。具体的な手続きや書類については、お問い合わせいただいた際に詳しくご説明いたします。"
				/>
				<QuesionItem
					question="増額した役員報酬の使い道に制限はありますか？"
					anser="増額した報酬は、個人が自由に管理し、必要な時に自由に引き出すことが可能です。使用用途は完全に自由で、事業運営資金から教育費、住宅購入資金までご自身の判断でご利用いただけます。"
				/>
				<QuesionItem
					question="デメリットはありますか？"
					anser="役員報酬を損金算入で増額すると、個人の所得税と住民税が増加する可能性があります。既に役員報酬が高額な場合は、増額による個人の税負担が重くなることが予想されます。しかし、専門家による詳細な試算とアドバイスをもとに、適切な対策を立てることが可能です。"
				/>
			</div>
		</div>
	</div>
</div>
