---

---

<div
	class="flex flex-col items-center w-full py-10 bg-[#FBDA32]"
>
	<div class="md:w-[768px] flex flex-col text-center">
		<div class="text-left px-8 md:px-24 mb-5">
			<div class="text-3xl font-bold mb-3 text-center">
				多くの経営者が<br class="sm:hidden"/>
				社会保険料の節減に<br>成功しています。
			</div>
			<div class="font-sans text-base sm:text-xl">
				その結果、会社の経費削減はもちろん、<br class="md:hidden">利益増加にも繋がっています。<br
				/>
				私たちは、高額な社会保険料で悩む経営者が<br />
				より良い経営環境を実現できるよう全力でサポートいたします。
			</div>
		</div>
		<div class="bg-white rounded-lg py-5 px-2 md:p-8 mx-5 md:mx-10">
			<div class="font-bold text-2xl md:text-3xl leading-[40px] mb-5">社会保険労務士や税理士は<br> 何も教えてくれない・・・</div>
			<div class="font-sans text-sm sm:text-xl">
				当然です。彼らの業務は社会保険の届出や、<br />
				法人税や個人の確定申告書作成が主で、<br />
				社会保険料を節減することは<br class="sm:hidden">業務の範疇ではありません。<br /><br />
				一方、私たちは会社から流出する経費を削減し、<br class="md:hidden">利益増大を目指し、<br
				/>
				手元資金を最大化させることを生業としています。
			</div>
		</div>
	</div>
</div>
