---

---

<div
	class="flex flex-col items-center w-full py-10 bg-[#FBDA32]"
>
	<div class="md:w-[768px] flex flex-col text-center">
		<div class="text-left px-10 md:px-28 mb-5">
			<div class="text-3xl font-bold mb-3">
				多くの経営者が<br />
				社会保険料の節減に成功しています。
			</div>
			<div class="font-sans">
				その結果、会社の経費削減はもちろん、<br class="md:hidden">利益増加にも繋がっています。<br
				/>
				私たちは、高額な社会保険料で悩む経営者が<br />
				より良い経営環境を実現できるよう全力でサポートいたします。
			</div>
		</div>
		<div class="bg-white rounded-lg p-8 mx-5 md:mx-10">
			<div class="font-bold text-3xl leading-[40px] mb-5">社会保険労務士や税理士は<br> 何も教えてくれない・・・</div>
			<div class="font-sans">
				当然です。彼らの業務は社会保険の届出や、<br />
				法人税や個人の確定申告書作成が主で、<br />
				社会保険料を節減することは業務の範疇ではありません。<br /><br />
				一方、私たちは会社から流出する経費を削減し、<br class="md:hidden">利益増大を目指し、<br
				/>
				手元資金を最大化させることを生業としています。
			</div>
		</div>
	</div>
</div>
