---
interface Props {
	stepNo: string;
}

const { stepNo } = Astro.props;
---

<div class="flex justify-center w-full md:w-[200px] md:h-40">
	<div
		class="bg-red-500 rounded text-white absolute text-3xl md:text-xl font-bold px-5 py-1"
	>
		STEP {stepNo}
	</div>
	<div
		class="bg-white rounded-lg py-6 mt-5 text-4xl md:text-xl w-full text-center font-bold md:px-2 text-[#E6607B] flex items-center justify-center"
	>
		<slot />
	</div>
</div>
