---
interface Props {
	title: string;
}
import "@fontsource/zen-maru-gothic/300.css";
import "@fontsource/zen-maru-gothic/400.css";
import "@fontsource/zen-maru-gothic/500.css";
import "@fontsource/zen-maru-gothic/700.css";
import "@fontsource/zen-maru-gothic/900.css";
import "@fontsource/noto-sans-jp/400.css";
import "@fontsource/noto-sans-jp/500.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- <meta name="viewport" content="width=460" /> -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!--メールフォームプロ用CSS-->
		<link rel="stylesheet" href="mfp.statics/mailformpro.css" type="text/css">
		
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	*, *::before, *::after {
		box-sizing: border-box;
	}
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
    		overflow: overlay;
		);
	}
	html {
		font-family: "Zen Maru Gothic", sans-serif;
		width: 100%;
		margin: 0px;
		padding: 0px;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		overflow-scrolling: touch;
	}
	body {
		width: 100%;
		margin: 0px;
		padding: 0px;
		min-width: 100%;
		min-height: 100vh;
		margin: 0;
		-webkit-text-size-adjust: 100%;
	}

</style>
